venv/bin/
venv/lib/
venv/share/
venv/lib64
venv/pyvenv.cfg
log/*
00003030/
00002785/
DICOM.create/
examples/Patient_4604/ImageSet_0.img

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.log
*.bak
oo
ooo
oooo

!log/README.md
